:root {
  --purple: #800180;
  --blue: #1f3151;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  letter-spacing: 1px;
}

h1 {
  color: var(--purple);
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 30px;
}

.logo-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.logo-bar img {
  width: 150px;
  height: auto;
  margin: 0;
}

button {
  background-color: var(--blue);
  color: #fff;
  width: 200px;
  height: 40px;
  margin: 16px;
  border: none;
  border-radius: 4px;
}

.input-field {
  padding-left: 8px;
}

/* Card styling */
.cards-wrapper {
  margin: 48px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  margin: 12px;
  border: 1px solid lightgray;
}

.card img {
  height: 250px;
  width: auto;
}

.card-text {
  padding: 16px;
}

.neighborhood-box {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 24px;
  /* margin-left: -16px; */
  margin-top: -40px;
  z-index: 1;
}

.neighborhood {
  font-size: 12px;
  color: var(--purple);
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  font-size: 16px;
  margin: 0;
}

.card-size-price {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size {
  font-size: 18px;
  margin: 0;
}

.price {
  font-size: 18px;
  margin: 0;
}

#bootstrap-overrides .row {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bootstrap-overrides .col-3 {
  padding: 0;
}

#bootstrap-overrides .nav {
  background-color: var(--purple);
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  border-bottom: 1px solid lightgray;
}

#bootstrap-overrides input {
  margin: 4px;
}

#bootstrap-overrides .nav-links {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

#bootstrap-overrides .dropdown-menu {
  min-width: 200px;
  padding: 16px;
}

#bootstrap-overrides .dropdown-toggle {
  margin: auto 24px;
}

#bootstrap-overrides .dropdown a {
  color: #fff;
}
